.login{
    background-color: var(--color-bg-primary);
}

.login__container{
    margin-top: 20px;
    padding-top: 92px;
    padding-bottom: 150px;
}

.login__title{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 21.13px;
    color: var(--color-primary);
    text-align: center;
}

.btnform--login__width{
    width: 100%;
}

@media screen and (min-width:1024px){
}

@media screen and (min-width:1024px){
    .login__container{
        width: 100%;
        max-width: 500px;
    }
}    